body {
    background-image: url("../images/background-pattern.jpg");
    background-size: cover;       /* que cubra toda la pantalla */
    background-position: center;  /* centrado */
    background-attachment: fixed; /* efecto parallax */
    background-repeat: no-repeat;
}

.banner-carousel {
    background-image: url(../images/background-pattern.jpg);
    background-size: cover;
    background-position: center;
}

ul>li{
    list-style: none;
    text-align: center;
}

.supermercado-carousel .carousel-item img {
    height: 500px !important;
    width: 100%;
    display: flex;
}

h1{
    color: blueviolet;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav a{
    text-decoration:none;
}


/*nuevos */


/* Card Styles */
.card {
    background: var(--card-bg);
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgba(0, 212, 255, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 20px 40px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}


.card:hover {
    transform: translateY(-10px);
    border-color: var(--primary-color);
    box-shadow: 0 10px 30px rgba(0, 212, 255, 0.3);
}


.card-image {
    width: 100%;
    height: 200;
    object-fit: cover;
    transition: transform 0.3s ease;
}


.card:hover .card-image {
    transform: scale(1.05);
}


.card-content {
    padding: 1.5rem;
}


.card-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}


.card-description {
    color: var(--text-secondary);
    margin-bottom: 1rem;
}


.card-link {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background: var(--gradient);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: transform 0.2s ease;
}


.card-link:hover {
    transform: scale(1.05);
}
/* Footer */
        .footer {
            text-align: center;
            padding: 2rem;
            background: rgba(72, 74, 75, 0.067);
            margin-top: 3rem;
            border-top: 1px solid rgba(0, 212, 255, 0.2);
        }

        
