{% extends "./layout.html" %}
<title>INDEX TechHub</title>
{% block content %}
<h1 class="text-center">Bienvenido {{username}}</h1>
<center>
    <img src="../static/images/plato.jpg" alt="logo" width="100px">
</center>

<div class="cards-container" >
    <div class="card">
        <img src="../static/images/supermercado v1.jpg" alt="" class="card-image">
        <div class="card-content">
            <center>
            <h3 class="card-title"> Bienvenido a la pagina de Administrador</h3>
            <p class="card-description"> Maneja la empresa a tu gusto 😎</p>
            <a href="https://www.dell.com/es-es/gaming/alienware" class="card-link" class="card-link" target="_blank"> Ver Ofertas</a>
            </center>
        </div>
    </div>
</div>

{% endblock %}