<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Flask Layout{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Tu CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

            <!-- LOGO + TEXTO (del primer navbar) -->
            <a class="navbar-brand" href="#">
                <img src="../static/images/plato.jpg" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
            </a>

            <!-- Botón hamburguesa -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú colapsable -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> <!-- ms-auto para alinear a la derecha -->

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin') }}">Administrador</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('empleados') }}">Empleados</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Cerrar Sesión</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true"></a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <footer class="footer">

        <p>&copy; Todos los derechos reservados 2025 La Cuchara Verde tu portal de tecnologia 💻🖥️</p>
    </footer>

</body>

</html>