<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- SOLO AQUÍ VA EL CSS, NO DENTRO DE <li> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N084FH1T0S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N084FH1T0S');
</script>
</head>

<body>

    <div class="wrapper">

        <aside>
            <header>
                <a class="boton-menu boton-volver" href="{{ url_for('tienda') }}"><h1 class="logo">Tienda</h1></a>
            </header>

            <nav>
                <ul>
                    

                    <li>
                        <a class="boton-menu active">
                            <i class="bi bi-cart-fill"></i> Carrito
                        </a>
                    </li>
                </ul>
            </nav>

            <footer>
                <p class="texto-footer">© 2023</p>
            </footer>
        </aside>

        <main>
            <h2 class="titulo-principal">Carrito</h2>

            <div class="contenedor-carrito">

                <p id="carrito-vacio" class="carrito-vacio">
                    Tu carrito está vacío. <i class="bi bi-emoji-frown"></i>
                </p>

                <div id="carrito-productos" class="carrito-productos disabled"></div>

                <div id="carrito-acciones" class="carrito-acciones disabled">

                    <div class="carrito-acciones-izquierda">
                        <button id="carrito-acciones-vaciar" class="carrito-acciones-vaciar">
                            Vaciar carrito
                        </button>
                    </div>

                    <div class="carrito-acciones-derecha">

                        <div class="carrito-acciones-total">
                            <p>Total:</p>
                            <p id="total"></p>
                        </div>

                        <button id="carrito-acciones-comprar" class="carrito-acciones-comprar">
                            Comprar ahora
                        </button>

                    </div>

                </div>

                <p id="carrito-comprado" class="carrito-comprado disabled">
                    Muchas gracias por tu compra. <i class="bi bi-emoji-laughing"></i>
                </p>

            </div>
        </main>

    </div>

    <script src="{{ url_for('static', filename='js/carrito.js') }}"></script>

</body>

</html>